body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: right;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    width: 150px; /* حجم شعار المدرسة */
    height: auto; /* يحافظ على نسبة العرض إلى الارتفاع */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section img {
    width: 100%; /* الصورة تأخذ عرض العنصر المحيط بها */
    max-width: 1200px; /* تحديد أقصى عرض للصورة */
    height: auto; /* يحافظ على نسبة العرض إلى الارتفاع */
    border-radius: 8px; /* زوايا مدورة */
    margin: 10px 0; /* هامش خارجي للصورة */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}